In [3]:
import sqlite3

In [4]:
con = sqlite3.connect('student.db')

In [5]:
cur=con.cursor()

In [6]:
q="create table stud(id int PRIMARY KEY,name text)"

In [7]:
cur.execute(q)

In [8]:
q="create table stud_details(id INTEGER PRIMARY KEY,city TEXT,mobileno int,FOREIGN KEY(id) REFERENCES stud(id))"

In [9]:
cur.execute(q)

In [10]:
con.commit()

In [14]:
l=[]

In [15]:
a=[]

In [16]:
for i in range(1,11):
    sid=int(input("Enter student id:"))
    sname=input("Enter student name:")
    scity=input("Enter student city:")
    smono=int(input("Enter student mobile no:"))
    t=(sid,sname)
    l.append(t)
    t=(sid,scity,smono)
    a.append(t)

Enter student id:1
Enter student name:om
Enter student city:surat
Enter student mobile no:7485966352
Enter student id:2
Enter student name:sai
Enter student city:bardoli
Enter student mobile no:7889857474
Enter student id:3
Enter student name:ram
Enter student city:mumbai
Enter student mobile no:7485966352
Enter student id:4
Enter student name:sunil
Enter student city:bharuch
Enter student mobile no:7695857475
Enter student id:5
Enter student name:anil
Enter student city:amreli
Enter student mobile no:7652416398
Enter student id:6
Enter student name:ashok
Enter student city:ahmadabad
Enter student mobile no:8596744512
Enter student id:7
Enter student name:ajay
Enter student city:bhuj
Enter student mobile no:9475968574
Enter student id:8
Enter student name:sanket
Enter student city:dwarka
Enter student mobile no:9274856374
Enter student id:9
Enter student name:vijay
Enter student city:bardoli
Enter student mobile no:8265748521
Enter student id:10
Enter student name:rohit
Enter student city:mumbai
Enter student mobile no:7695857496

In [17]:
q="insert into stud values(?,?)"

In [18]:
cur.executemany(q,l)

In [19]:
q="insert into stud_details values(?,?,?)"

In [20]:
cur.executemany(q,a)

In [21]:
con.commit()

In [22]:
q='''SELECT stud.name, stud_details.city
            FROM stud
            INNER JOIN stud_details ON stud.id = stud_details.id
            WHERE stud_details.city = 'surat' '''

In [23]:
cur.execute(q)

In [24]:
r=cur.fetchall()

In [25]:
for i in r:
    print("student name:{}".format(i[0]))
    print("student city:{}".format(i[1]))

student name:om
student city:surat

In [26]:
q='''SELECT stud.name, stud_details.city
            FROM stud
            INNER JOIN stud_details ON stud.id = stud_details.id
            WHERE stud_details.city LIKE 'B%' '''

In [27]:
cur.execute(q)

In [28]:
r=cur.fetchall()

In [29]:
for i in r:
    print("student name:{}".format(i[0]))
    print("student city:{}".format(i[1]))

student name:sai
student city:bardoli
student name:sunil
student city:bharuch
student name:ajay
student city:bhuj
student name:vijay
student city:bardoli

In [30]:
q='''UPDATE stud_details
            SET mobileno = '9685452325'
            WHERE city = 'surat' '''

In [31]:
cur.execute(q)

In [32]:
con.commit()

In [33]:
cur.close()